<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Ext JS 7.0.0</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ext-7.0.0/build/classic/theme-crisp/resources/theme-crisp-all.css' %}" />
        <script type="text/javascript" src="{% static 'ext-7.0.0/build/ext-all.js' %}"></script>
        <script type="text/javascript" src="{% static 'library/app.js' %}"></script>
    </head>
    <body></body>
</html>