<!DOCTYPE html>
<html>
    <head>
        <title>Sencha | Ext JS 7.0</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
        {% load static %}
        <link rel="icon" href="{% static 'library/resources/img/favicon.png' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'ext/classic/theme-crisp/resources/theme-crisp-all-debug.css' %}" />
        <script type="text/javascript" src="{% static 'ext/ext-all-debug.js' %}"></script>
        <script>
            Ext.onReady(function(){
                Ext.create('Ext.container.Viewport', {
                    layout: 'border',
                    items: [{
                        region: 'north',
                        html: '<h1 class="x-panel-header">Home Library</h1>',
                        border: false,
                        margin: '0 0 5 0',
                    },{
                        region: 'west',
                        title: 'West Panel',
                        border: false,
                        width: 150
                    },{
                        region: 'center',
                        html: '<h2>Dynamic content</h2>',
                        xtype: 'tabpanel',
                        activeTab: 0,
                        items: [{
                            title: 'file',
                        },{
                            title: 'edit',
                        },{
                            title: 'help',
                        }]
                    },{
                        region: 'east',
                        title: 'East Panel',
                        collapsible: true,
                        split: false,
                        width: 300
                    },{
                        region: 'south',
                        title: 'South Panel',
                        collapsible: true,
                        html: '<div class="wrap">&copy;2024-<span id="this-year"></span> Danilov Andrey. All rights reserved.</div>',
                        split: true,
                        height: 100,
                        minHeight: 100
                    },]
                });
            });
        </script>
    </head>
    <body>
    </body>
</html>